/*---Productos----*/
.container {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 1rem;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
.main {
    display: flex;
  }
  .section_container {
    margin-left: 9%;
    margin-right: auto;
    width: 60%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
  }
  .producto {
    background-color: rgba(0, 0, 0, 0.91);
    margin: 1rem;
    text-align: center;
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.59);
    transition: all .3s;
  }
  .producto:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all .3s;
  }
  .producto a {
    text-decoration: none;
  }
  .producto__imagen {
    width: 100%;
    max-width: 30rem;
  }
  .producto__nombre {
    font-size: 0.9rem;
    margin: 0.5rem 0.5rem;
    color: var(--blanco);
    text-transform: uppercase;
  }
  .producto__precio {
    font-size: 2.rem;
    color: var(--blanco);
  }
  .producto__id {
    display: none;
  }
  .producto__precio, .producto__id {
    margin: 0.5rem 0;
    text-align: center;
  }
  .producto__categoria {
    color: rgba(255, 255, 255, 0.274);
    font-size: 0.875rem;
  }
  .producto__button {
    background-color: rgb(60, 60, 60);
    color: var(--blanco);
    font-weight: 700;
    border-style: none;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    font-size: 0.7rem;
    padding: 0.6rem 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s;
  }
  .producto__button:hover {
    background-color: var(--3);
  }