:root {
  --1:  #c69e98;
  --1-oscuro: #a47871;
  --2:  #dce4dc;
  --3: #ccccc4 ;
  --4: #ece7e3 ;
  --5: rgb(58, 42, 42);
  --gris: #e9e9e9; 
  --blanco: #fff;
  --negro: black;
  --fuente: "Montserrat",Sans-serif;
  --fuente-nav: 'Barlow Semi Condensed', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 1rem;
}
.flex {
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(234, 232, 229);
}

.App-link {
  color: var(--1-oscuro);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h3-itemList {
  background-color: var(--2);
  margin: 0;
  padding-top: 2rem;
  color: var(--1-oscuro);
  font-size: 2rem;

}
.Ezequiel {
  background-color: var(--2);
  margin: 0;
  padding-top: 2rem;
  color: var(--negro);
  font-size: 2rem;
}
/*------NAV------*/
.principal-navegation{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.nav a{
 padding: 1.5rem;
 margin-right: 1.5rem;
 margin-left: 1.5rem;
 font-size: 1.3rem;
 color: var(--blanco);
 text-decoration: none;
 font-weight: 700;
 text-transform: uppercase;
 transition: all .4s;
}
.nav a:hover {
  transform: scale(1.2);
  transition: all .4s;
}
.contenedor {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.nav-bg {
  background-color: var(--1);
  position: fixed;
  width: 100%;
  box-shadow: -1px 10px 20px -5px rgba(99, 77, 74, 0.44);
-webkit-box-shadow: -1px 10px 20px -5px rgba(113, 85, 81, 0.44);
-moz-box-shadow: -1px 10px 20px -5px rgba(86, 64, 61, 0.44);

}
.carrito {
  padding-top: 0.3rem;
}
.carrito-div {
  display: flex;
  align-items: center;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  width: 10%;
  justify-content: center;
  transition: all .4s;
}
.carrito-div:hover {
  transform: scale(1.2);
  transition: all .4s;
}
.div-logo {
  display: flex;
  align-items: center;
  width: 10%;
}
.bling-logo {
  width: 9rem;
  padding-top: 0.4rem;
  align-items: center;
}
/*---Productos----*/
.main {
  display: flex;
  padding-top: 5rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: left;
}
.producto {
  background-color: rgba(0, 0, 0, 0.91);
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.59);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.59);
  transition: all .4s;
}
.producto:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: all .4s;
}
.producto a {
  text-decoration: none;
}
.producto__imagen {
  width: 100%;
  max-width: 30rem;
}
.producto__nombre {
  font-size: 0.9rem;
  margin: 0.5rem 0.5rem;
  color: var(--blanco);
  text-transform: uppercase;
}
.producto__precio {
  font-size: 2.rem;
  color: var(--blanco);
}
.producto__id {
  display: none;
}
.producto__precio, .producto__id {
  margin: 0.5rem 0;
  text-align: center;
}
.producto__categoria {
  color: rgba(255, 255, 255, 0.274);
  font-size: 0.875rem;
}
.producto__button {
  background-color: rgb(60, 60, 60);
  color: var(--blanco);
  font-weight: 700;
  border-style: none;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-size: 0.7rem;
  padding: 0.6rem 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s;
}
.producto__button:hover {
  background-color: var(--3);
} 

/*--Categoria--*/
.category_container {
  justify-content: left;
  width: 20%;
  position: fixed;
  text-align: left;
}
.category_container h2{
  font-size: 1.4rem;
  margin-bottom: 0.9rem;
  margin-top: 0;
  color: #a47871;
}
.category_container li {
  list-style: none;
  padding-bottom: 0.35rem;
  font-size: 1.2rem;
  transition: all .3s;
}
.category_container li a {
  text-decoration: none;
  color:#577975;
}
.category_container li:hover {
  transform: scale(1.13);
  cursor: pointer;
  transition: all .3s;
}
.category_container li a:hover {
  color:#a47871;
}
/*--Detail---*/
.detail {
  padding-top: 5rem;
  width: 60%;
  margin: auto;
}
.detail .producto:hover {
  transform: scale(1);
  cursor: default;
}
.detail .producto {
  transform: scale(1);
  cursor: default;
  padding-bottom: 2rem;
  padding-top: 1rem;
  background-color: rgba(220, 220, 220, 0.689);
  margin: 1rem;
  text-align: center;
  
}
.detail .producto__nombre {
  font-size: 1.8rem;
  margin: 0.5rem 0.5rem;
  color: black;
  text-transform: none;
  font-weight: 700;
}
.detail .producto__precio {
  font-size: 1.5rem;
  color: black;
  padding-top: 1rem;
}

.detail .producto__categoria {
  color: rgba(53, 53, 53, 0.608);
  font-size: 1rem;
  padding-top: 2rem;
}